name: Deploy backend to supabase
on:
  push:
    branches: [main, feat/*, develop, release/*, hotfix/*]
  pull_request:
    branches: [main, feat/*, develop, release/*, hotfix/*]
  workflow_dispatch:

env:
  SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
  SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
  SITE_URL: ${{ vars.SITE_URL }}

jobs:
  deploy:
    environment: development
    if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/heads/feat/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - run: supabase link --project-ref ${{ env.SUPABASE_PROJECT_ID }}
      - run: |
          supabase secrets set \
            SITE_URL="${{ env.SITE_URL }}" \
            TYPESENSE_HOST="${{ secrets.TYPESENSE_HOST }}" \
            TYPESENSE_API_KEY="${{ secrets.TYPESENSE_API_KEY }}" \
            TYPESENSE_PORT="${{ secrets.TYPESENSE_PORT }}" \
            TYPESENSE_PROTOCOL="${{ secrets.TYPESENSE_PROTOCOL }}" \
            STRIPE_SECRET_KEY="${{ secrets.STRIPE_SECRET_KEY }}" \
            STRIPE_WEBHOOK_SECRET="${{ secrets.STRIPE_WEBHOOK_SECRET }}" \
            BREVO_API_KEY="${{ secrets.BREVO_API_KEY }}" \
            BREVO_SMTP_PASS="${{ secrets.BREVO_SMTP_PASS }}" \
            SENTRY_DSN="${{ vars.SENTRY_DSN }}"
      - name: Pushing database
        run: supabase db push
      - name: Deploying functions
        run: supabase functions deploy
      - name: Updating config
        run: supabase config push
