name: Deploy backend to supabase
on:
  push:
    branches: [main, feat/*, develop, release/*, hotfix/*]
  pull_request:
    branches: [main, feat/*, develop, release/*, hotfix/*]
  workflow_dispatch:

env:
  SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
  SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}

jobs:
  deploy:
    if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/heads/feat/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - run: supabase link --project-ref ${{ env.SUPABASE_PROJECT_ID }}
      - run: |
          supabase secrets set \
            TYPESENSE_HOST="${{ secrets.TYPESENSE_HOST }}" \
            TYPESENSE_API_KEY="${{ secrets.TYPESENSE_API_KEY }}" \
            TYPESENSE_PORT="${{ secrets.TYPESENSE_PORT }}" \
            TYPESENSE_PROTOCOL="${{ secrets.TYPESENSE_PROTOCOL }}" \
            STRIPE_SECRET_KEY="${{ secrets.STRIPE_SECRET_KEY }}" \
            STRIPE_WEBHOOK_SECRET="${{ secrets.STRIPE_WEBHOOK_SECRET }}"
      - run: supabase db push
      - run: supabase functions deploy

